<div class="containerFilm">
  <h2>Movie</h2>
  <div class="global">
    <div class="cont1">
      <h3>details</h3>
      <span class="textDetail">Movie number : </span>
      <input type="text" [(ngModel)]="saisieNumEpisode"  class="saisiIdEpisode" name="idEpisode" minlength="0" maxlength="1" size="1">
      <button class="myButton" (click)="getMovie()">Valider</button>
      <br><br><br>
      <p class="textDetail" style="width: 400px">Title : {{ detailFilm.title }}</p>
      <p class="textDetail" style="width: 400px">Episode numéro : {{ detailFilm.episode_id }}</p>
      <p class="textDetail" style="width: 400px">Director : {{ detailFilm.director }}</p>
      <p class="textDetail" style="width: 400px">Producer : {{ detailFilm.producer }}</p>
      <p class="textDetail" style="width: 400px">Date release : {{ detailFilm.release_date }}</p>
    </div>
    <div class="cont2">
      <h3>opening</h3>
      <p class="resume">{{ detailFilm.opening_crawl }}</p>
    </div>
  </div>
</div>


<div class="containerFilm">
    <h2>Character</h2>
    <div class="global">
      <div class="cont1">
        <h3>details</h3>
        <span class="textDetail">Character name : </span>
        <input type="text" [(ngModel)]="saisieNameCharacter"  class="saisiIdEpisode" name="nameCharacter" maxlength="20" size="20">
        <button class="myButton" (click)="getCharacter()">Valider</button>
        <br><br><br>

        <p>List of Characters :</p>
        <ul>
            <li *ngFor="let Character of detailCharacter">{{ Character.name }}</li>
        </ul>
      </div>
      
      <div class="cont2">
        <h3>opening</h3>
        <p class="resume">{{ detailFilm.opening_crawl }}</p>
      </div>
    </div>
  </div>
  
