<div class="containerCharacters">
  <div>
  <h2>Character</h2>
    <div class="ContSaisieCharacter">
      <span class="textDetail">Character name : </span>
      <input type="text" [(ngModel)]="saisieNameCharacter"  class="saisiIdEpisode" name="nameCharacter" maxlength="20" size="20">
      <button class="myButton" (click)="getCharacter()">Valider</button>
    </div>
  </div>

  <div class="contAllCharacters">    
    <div *ngFor="let Character of detailCharacter | filter : saisieNameCharacter"> 
      <div class="contCharacter">
        <h4>{{ Character.name }} </h4>
        <p>gender : {{ Character.gender }}</p>
        <p>birth_year : {{ Character.birth_year }}</p>
        <p>height : {{ Character.height }}</p>
        <p>mass : {{ Character.mass }}</p>
        <p>movie :
            {{ Character.films }} 
          </p>

        <!--
        <div *ngFor="let film of Character.films">
          <p>{{ film }}</p>
        </div>


       <film [link]="film"/>*
       -->
      </div>
    </div>
  </div>
</div>