@font-face { font-family: 'Starjedi'; src: url('./police/Starjedi.ttf');}


html, body {
	overflow : auto; 
	margin:0; 
	padding:0; 
	overflow: hidden; 
	height:100%; 
	width: 100%;
    position: fixed; 
    background-image: url("./images/fd1.jpg");
}

body {
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    flex-direction: column;
	position: fixed; 
    overflow: auto;
    justify-content: center;
    align-items: center;

}


.myButton {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin-left: 10px;
}
.myButton:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.myButton:active {
    position:relative;
    top:1px;
}

.appRoot{display: flex;
    align-items: center;
flex-direction: column}

h1, h2, h3{ font-family: 'Starjedi'; text-align: center}
h1{font-size: 4.5em; text-shadow: #FC0 1px 0 10px; padding-top: 80px;}
h2{font-size: 2.5em; text-shadow: #FC0 1px 0 10px;}
h3{font-size: 2em}
h4{font-size: 1.3em; text-shadow: #FC0 1px 0 10px; text-align: center}

.resume{font-family: 'Starjedi'; font-size: 1.3em; padding: 25px; text-align: justify; overflow: auto}

.global{display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;}

.cont1{
    background-image: url("./images/transBlack.png");
	background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 15px;
    padding: 15px;
    border: #ffd301 solid 1px;
    color: #ffd301;
    min-width: 350px;
    margin-bottom: 20px;
    max-height: 440px;
    min-height: 440px;
}

.cont2{
    background-image: url("./images/transBlack.png");
	background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 15px;
    padding: 15px;
    border: #ffd301 solid 1px;
    color: #ffd301;
    min-width: 440px;
    max-height: 440px;
    min-height: 440px;

}

.containerFilm{
    background-image: url("./images/transBlack.png");
	background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 15px;
    padding: 15px;
    border: #ffd301 solid 1px;
    color: #ffd301;
    min-width: 440px;
    max-height: 700px;
    min-height: 700px;
    align-items: center;
    margin-bottom: 15px;
    width: 80%;
    overflow-y: auto;
}

.containerCharacters{
    background-image: url("./images/transBlack.png");
	background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 15px;
    padding: 15px;
    border: #ffd301 solid 1px;
    color: #ffd301;
    min-width: 440px;
    max-height: 700px;
    min-height: 700px;
    align-items: center;
    margin-bottom: 100px;
    width: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.contCharacter{
    background-image: url("./images/transBlack.png");
	background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 15px;
    padding: 15px;
    border: #ffd301 solid 1px;
    color: #ffd301;
    min-width: 350px;
    margin: 20px;
    max-height: 340px;
    min-height: 340px;   
    max-width: 340px;
    min-width: 340px;   
}

.contAllCharacters{
    border-radius: 15px;
    padding: 15px;
    min-width: 350px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}